doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title category
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .category 
          mixin category(img, name)
            a(href="#").category__item
              .category__item-wrap
                .category__img
                  img(src=`img/category`+img+`.svg`, alt="")
                .category__name=name
          +category('1','Зоотовары')
          +category('2','Творчество и хобби')
          +category('3','Электроника')
          +category('4','Продукты питания')
          +category('5','Детские товары')
          +category('6','Сувениры')
          +category('7','Праздники')
          +category('8','Товары для бизнеса')
          +category('9','Книги')
          +category('10','Для школы и офиса')
          +category('11','Здоровье')
          +category('12','Одежда')
          +category('13','Товары для дома')
          +category('14','Спорт и отдых')
          +category('15','Мебель')
          +category('16','Для ремонта')
          +category('17','Бытовая техника')
          +category('18','Товары для взрослых')
          +category('19','Красота и уход')
          +category('20','Автотовары')
        .poduct-slider
          .title.title--sm Вы просматривали
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src='img/viewed.svg', alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product

        .popular-category
          .title.title--sm Популярные категории
          .swiper.category-slider(dir="rtl")
            .swiper-wrapper
              mixin categorySl(img, name)
                .swiper-slide
                  a(href="#").popular-category__item
                    .popular-category__img
                      img(src=`img/category`+img+`.svg`, alt="")
                    .popular-category__name=name
              +categorySl(1, 'Зоотовары')
              +categorySl(2, 'Творчество и хобби')
              +categorySl(3, 'Электроника')
              +categorySl(4, 'Продукты питания')
              +categorySl(5, 'Электроника')
              +categorySl(6, 'Творчество и хобби')
              +categorySl(7, 'Зоотовары')
        .brands.brands--popular
          .title.title--sm Популярные бренды
          .swiper.popular-brands-slider
            .swiper-wrapper
              mixin barnd(img)
                .swiper-slide
                  a(href="#").brands__item
                    .brands__img
                      img(src=`img/brand`+img+`.png`, alt="")
              +barnd(1)
              +barnd(2)
              +barnd(3)
              +barnd(2)
              +barnd(4)
              +barnd(3)
              +barnd(5)
              +barnd(2)
              +barnd(4)
              +barnd(5)

    .category-list

    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
