doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title main
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')
    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo 
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .main-banner
      .swiper.main-banner 
        .swiper-wrapper
          mixin banner(title)
            .swiper-slide
              .main-banner__item(style="background-image: url('img/banner.jpg')")
                .main-banner__col-wrap
                  .main-banner__col
                    .main-banner__img
                      img(src="img/banner-img.png", alt="")
                  .main-banner__col
                    .main-banner__title!=title
                    a(href="#").btn перейти в каталог
          +banner('<p>Встречайте, <br> <span>iPhone 13 Pro Max</span> <br> с технологией ProMotion</p>')  
          +banner('<p>Встречайте, <br> <span>iPhone 492 Pro Max</span> <br> с технологией ProMotion</p>')  
          +banner('<p>Встречайте, <br> <span>iPhone 572 Pro Max</span> <br> с технологией ProMotion</p>')  
    
    .translateY-container.bottom-indent
      .brands
        .container
          .swiper.brands-slider 
            .swiper-wrapper
              mixin barnd(img)
                .swiper-slide
                  a(href="#").brands__item
                    .brands__img
                      img(src=`img/brand`+img+`.png`, alt="")
              +barnd(1)
              +barnd(2)
              +barnd(3)
              +barnd(2)
              +barnd(4)
              +barnd(3)
              +barnd(5)
              +barnd(2)
              +barnd(4)
              +barnd(5)
      .adv
        .container
          .adv__col-wrap
            .adv__col
              .swiper.adv-slider1(dir="rtl")
                .swiper-wrapper
                  mixin adv1(img,title,subtitle)
                    .swiper-slide
                      a(href="#").adv__item(style=`background-image: url('img/adv${img}.jpg')`)
                        .adv__title!=title
                        .adv__subtitle!=subtitle
                  +adv1('1','Canon EOS 5D Mark IV','Исключительное качество <br> изображения.')
                  +adv1('2','Apple Watch <br> Nike+', 'Подключайтесь через спорт')
            
            .adv__col
              .swiper.adv-slider2
                .swiper-wrapper
                  mixin adv2(img,title,subtitle)
                    .swiper-slide
                      a(href="#").adv__item(style=`background-image: url('img/adv${img}.jpg')`)
                        .adv__title!=title
                        .adv__subtitle!=subtitle
                  +adv2('2','Apple Watch <br> Nike+', 'Подключайтесь через спорт')
                  +adv2('1','Canon EOS 5D Mark IV','Исключительное качество <br> изображения.')
          .title.title--dark.title--sm Хит продаж
          .swiper.double-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  .card.bs
                    .card__img.detail-js
                      img(src="img/card.svg", alt="")
                    .card__name.detail-js iPhone 13 Pro Max, 1 TБ, Графитовый
                    .card__price 1000.00 сом
                    button.btn.btn--dark в корзину
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product    
          a(href="#" style="background-image: url('img/banner10.jpg')").banner.bs-sm
          a(href="#" style="background-image: url('img/banner11.jpg')").banner.bs-sm

          .additional-desc
            .additional-desc__title Широкий ассортимент и высокое качество 
            .additional-desc__desc
              p
                | Интернет-магазин AZOR – это доступные цены, широкий, регулярно обновляемый ассортимент. В онлайн-каталоге
                | AZOR представлено около 5 000 ведущих брендов женской, мужской и детской одежды и обуви. Покупателям
                | предлагается электроника, книжная продукция, детские товары. В интернет-магазине можно приобрести
                | продукцию для дома, продукты питания, товары для красоты, ювелирные изделия, игрушки. Для удобства
                | пользования онлайн-каталог поделен на разделы, все товары можно сортировать по ряду критериев: цена,
                | материал изготовления, сезонность, бренд.
            .additional-desc__more Читать далее
            .additional-desc__hide Скрыть










      //- ------------ 

      //- .interest
        .container
          .interest__wrap.bs-sm
            .title Основываясь на Ваших интересах
            .swiper.interest-slider(dir="rtl")
              .swiper-wrapper
                mixin rand(img)
                  .swiper-slide
                    a(href="#").interest__item
                      img(src=`img/interest`+img+`.svg`, alt="")
                +rand('1')
                +rand('2')
                +rand('3')
                +rand('4')
                +rand('2')
                +rand('1')
                +rand('3')
                +rand('4')
                +rand('1')
                +rand('2')
                +rand('3')
      //- .offer
        .container
          .swiper.offer-slider(dir="rtl")
            .swiper-wrapper
              mixin offer(img,title)
                .swiper-slide
                  a(href="#").offer__item
                    .offer__title=title
                    .offer__img
                      img(src=`img/offer`+img+`.jpg`, alt="")
              +offer('1','Ноутбуки')
              +offer('2','Летний транспорт')
              +offer('3','Одежда по сезону')
              +offer('2','Готовимся к лету')
      //- .rand-offer
        .container
          .rand-offer__wrap.bs-sm
            .title Электроника для геймеров   
            .swiper.rand-offer-slider
              .swiper-wrapper
                mixin rand(img)
                  .swiper-slide
                    a(href="#").rand-offer__item
                      img(src=`img/el`+img+`.svg`, alt="")
                +rand('2')
                +rand('1')
                +rand('2')
                +rand('3')
      
      //- ------------
        
      
      


    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 

        
      
      


    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
