doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title category
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .slider
        .slider__wrapper
          .swiper.slider-js
            .swiper-wrapper
              mixin slide()
                .swiper-slide
                  .slider__item
                    img(src="img/slider.jpg", alt="")
              +slide
              +slide
              +slide
              
      .container
        .category-trigger
          svg(xmlns='http://www.w3.org/2000/svg' width='18' height='12' viewBox='0 0 18 12' fill='none')
            path(d='M18 5.01L0 5V7H18V5.01ZM0 10H12V12H0V10ZM18 0H0V2.01L18 2V0Z' fill='#BCBFC1')
          span Все категории в разделе
          i.icon-angle
        
        .title.title--lg Красота и уход

        .poduct-slider
          .title.title--sm Уход за лицом
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src='img/palette.jpg', alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
        .poduct-slider
          .title.title--sm Уход за телом
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src='img/cream.jpg', alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
        .poduct-slider
          .title.title--sm Уход за волосами
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src='img/cream.jpg', alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
        .poduct-slider
          .title.title--sm Декоративная косметика
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product()
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src='img/mascara.jpg', alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
              +product
        
        a(href="#" style="background-image: url('img/banner1.jpg')").banner.bs-sm.banner--align-left
          .banner__title Cosmetic Mockup
          .banner__subtitle Преимущество <br> бренда
      
        .poduct-slider
          .title.title--sm Хиты продаж
          .swiper.triple-slider-js
            .swiper-wrapper
              mixin product(img)
                .swiper-slide
                  a(href="#").poduct-slider__item
                    .poduct-slider__img
                      img(src=`img/`+img+`.jpg`, alt="")
                    .poduct-slider__name iPhone 13 Pro Max, 1 TБ, Графитовый
                    .poduct-slider__price 1000.00 сом
              +product('palette')
              +product('cream')
              +product('mascara')
              +product('palette')
              +product('cream')
              +product('mascara')
              +product('palette')
              +product('cream')
              +product('mascara')
        
        .brands.brands--popular
          .title.title--sm Популярные бренды
          .swiper.popular-brands-slider
            .swiper-wrapper
              mixin barnd(img)
                .swiper-slide
                  a(href="#").brands__item.brands__item--bx-sh 
                    .brands__img
                      img(src=`img/brand`+img+`.png`, alt="")
              +barnd(1)
              +barnd(2)
              +barnd(3)
              +barnd(2)
              +barnd(4)
              +barnd(3)
              +barnd(5)
              +barnd(2)
              +barnd(4)
              +barnd(5)
         
    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
