doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title order
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .basket
          .basket__control
            .basket__control-item.basket__control-item--select
              i.icon-check
              span.t15 Выделить всё
            .basket__control-item.basket__control-item--delete
              i.icon-close
              span.t15 Удалить всё (2)
          p.t15 Населенный пункт    
          .select
            input(type="hidden" value="Бишкек").select__input
            .select__selected
              span Бишкек
              i.icon-angles
            .select__dropdown.bs
              .select__option(data-val="Бишкек") Бишкек
              .select__option(data-val="Каракол") Каракол
              .select__option(data-val="Ош") Ош
              .select__option(data-val="Нарын") Нарын

          .tab
            .title.title--ttu  Выберите способ доставки    
            ul.tabs 
              li
                .bt
                  .rb
                  span Доставить к пункту выдачи   
              li
                .bt
                  .rb
                  span Доставить курьером
              li
                .bt
                  .rb
                  span
                    svg(xmlns='http://www.w3.org/2000/svg' width='14' height='13' viewBox='0 0 14 13' fill='none')
                      path(d='M7 10.5134L11.12 13L10.0267 8.31337L13.6667 5.16004L8.87333 4.75337L7 0.333374L5.12666 4.75337L0.333328 5.16004L3.97333 8.31337L2.88 13L7 10.5134Z' fill='#FFCD00')
                    | Express доставка
            
            .tab_content
              .tabs_item
                .title.title--ttu  Выберите пункт выдачи
                .select.select--bs.bx-sh
                  input(type="hidden" value="г. Бишкек, Уметалиев, 127 (Головной офис) ").select__input
                  .select__selected
                    span г. Бишкек, Уметалиев, 127 (Головной офис) 
                    i.icon-angle
                  .select__dropdown.bx-sh
                    .select__option(data-val="г. Бишкек, Уметалиев, 127 (Головной офис)") г. Бишкек, Уметалиев, 127 (Головной офис) 
                    .select__option(data-val="г. Каракол, ул. Гагарина 87") г. Каракол, ул. Гагарина 87
                    .select__option(data-val="г. Ош, ул. Гагарина 87") г. Ош, ул. Гагарина 87
                    .select__option(data-val="г. Нарын, ул. Гагарина 87") г. Нарын, ул. Гагарина 87
              
              .tabs_item
                .title.title--ttu Укажите адрес
                .input 
                  input(type="text" name="сourier_delivery" placeholder="Ваш адрес")

              .tabs_item
                .title.title--ttu Укажите адрес
                .input 
                  input(type="text" name="сourier_delivery_express" placeholder="Ваш адрес")
              p.work-time Режим работы: 9:00 - 18:00            

          .order__recipient-information
            .title.title--ttu Данные получателя
            mixin input(label, id, name, pl)
              .input
                label(for=id)!=label
                input(type="text" name=name id=id placeholder=pl)
            +input('ИМЯ<span>*</span>','name', 'имя', 'Ваше имя')
            +input('Email','email', 'email', 'Электронная почта')
            +input('Телефон<span>*</span>','phone', 'телефон', 'Номер телефона')
          
          .title.title--ttu Способ оплаты
          .order__pay-method
            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay1
                |Наличными   

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay2
                |Кошелек   
              .order__pay-method-arrow
                i.icon-angle
              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="elcard" name="pay-system" value="wallet-elcard")
                  label(for="elcard")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="visa" name="pay-system" value="wallet-visa")
                  label(for="visa")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="mastercard" name="pay-system" value="wallet-mastercard")
                  label(for="mastercard")
                    img(src="img/mc.svg", alt="") 

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay3
                |Картой   
              .order__pay-method-arrow
                i.icon-angle
              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="elcard" name="pay-system" value="card-elcard")
                  label(for="elcard")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="visa" name="pay-system" value="card-visa")
                  label(for="visa")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="mastercard" name="pay-system" value="card-mastercard")
                  label(for="mastercard")
                    img(src="img/mc.svg", alt="") 

            .order__pay-method-item.bx-sh
              .order__pay-method-name
                .order__pay-method-icon
                  i.icon-pay4
                |Банк   
              .order__pay-method-arrow
                i.icon-angle

              .order__pay-method-dropdown.bx-sh
                .order__pay-system
                  input(type="radio" id="bank1" name="pay-system" value="bank-elcard")
                  label(for="bank1")
                    img(src="img/el.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="bank2" name="pay-system" value="bank-visa")
                  label(for="bank2")
                    img(src="img/visa.svg", alt="") 
                .order__pay-system
                  input(type="radio" id="bank3" name="pay-system" value="bank-mastercard")
                  label(for="bank3")
                    img(src="img/mc.svg", alt="")

          
          .basket__total.bx-sh
            .basket__total-item
              .basket__total-lg Итого:
              .basket__total-lg 100.00 сом
            .basket__total-item
              .basket__total-sm 2 товара: менее 1кг
              .basket__total-sm 100.00 сом
            .input
              input(type="text" placeholder="Промо-код:")
          button(type="submit").btn.btn--dark Оформить заказ
          a(href="#").credit.bx-sh В кредит или рассрочку
            span BANK 



    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
