doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title registration
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .form.bs-lg
          .title.title--dark Создать учетную запись
          form(action="#")
            mixin input(label,id)
              .input
                label(for=id)=label  
                input(type="text" name=id id=id)
            +input('Имя','name')
            +input('фамилия','surname')
            +input('компания','company')
            +input('телефон','phone')
            +input('email','email')
            +input('день рождение','bd')
            +input('Пароль','pass')
            +input('Подтвердите пароль','pass-confirm')
            .check 
              label(for="mailing") Списки рассылок
              input(type="checkbox" id="mailing") 
              p.info Подпишитесь на нашу рассылку!
              p.info Новости компании и уникальные скидки для подписчиков
            button(type="submit").btn.btn--dark Регистрация
            p.link Уже зарегистрированны? 
              a(href="#") Войти в аккаунт 
            p.info Преимущества зарегистрированного пользователя:  
            
            ul  
              li Отслеживание заказов на персональной странице
              li Возможность настроить магазин под себя для более удобных покупок
              li Ускоренное оформление последующих заказов

    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
