* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #cccccc10;
  color: #384351;
}
body.no-scroll {
  overflow: hidden;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
.breadcrumbs {
  margin-bottom: 15px;
}
.breadcrumbs ul {
  margin: 0;
}
.breadcrumbs ul li {
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}
.breadcrumbs ul li:after {
  position: absolute;
  content: '/';
  right: 2px;
}
.breadcrumbs ul li:last-child:after {
  display: none;
}
.breadcrumbs ul li a {
  color: #384351;
}
.input {
  margin-top: 12px;
}
.input label {
  text-transform: uppercase;
  color: #656D77;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}
.input label span {
  color: red;
}
.input input {
  border: 1px solid #BCBFC1;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  min-height: 35px;
  padding: 0 11px;
  font-size: 14px;
}
.input input::placeholder {
  color: #bcbfc1;
}
.bottom-indent {
  padding-bottom: 70px;
  margin-top: 20px;
}
.bs-sm {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 13px;
}
.bs-lg {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 26px 40px;
}
@media (max-width: 427.98px) {
  .bs-lg {
    padding: 20px 15px;
  }
}
.bx-sh {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.title {
  font-weight: 700;
  margin-bottom: 13px;
  position: relative;
}
.title--ttu {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 15px;
}
.title--dark {
  color: #131921;
  font-size: 18px;
}
.title--lg {
  font-size: 20px;
}
.title--sm {
  font-size: 16px;
}
.btn {
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  margin-bottom: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
}
@media (max-width: 360.98px) {
  .btn {
    font-size: 14px;
  }
}
.btn--dark {
  background-color: #131921;
}
.btn--orange {
  background-color: #FF741F;
}
.t15 {
  color: #717171;
  font-size: 15px;
}
.container {
  margin: auto;
  padding: 0 10px;
}
.panel-control {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  left: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  padding: 13px 0;
}
.panel-control__item {
  color: #656D77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(20% - 3px);
}
.panel-control__item i,
.panel-control__item .panel-control__title {
  transition: all 0.3s;
}
.panel-control__item:hover {
  color: #ff741f;
}
.panel-control__item.active {
  color: #ff741f;
}
.panel-control__icon {
  margin-bottom: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.panel-control__title {
  font-size: 11px;
}
.panel-control__alert {
  font-size: 8px;
  color: #fff;
  background-color: #F20000;
  border-radius: 10px;
  position: absolute;
  bottom: 65%;
  left: 50%;
  padding: 1px 3px;
}
.form {
  background-color: #fff;
  margin-bottom: 16px;
}
.form .title {
  font-size: 18px;
}
.form .input {
  margin-top: 10px;
}
.form .input label {
  text-transform: uppercase;
  color: #656D77;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  display: block;
}
.form .input input {
  border-radius: 5px;
  background: #FFFFFF;
  border: 1px solid #BCBFC1;
  min-height: 42px;
  width: 100%;
  padding: 0 15px;
}
.form .check {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.form .check label {
  color: #131921;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 20px;
  display: block;
}
.form .check input {
  position: absolute;
  left: 0;
  top: 1px;
}
.info {
  font-size: 12px;
  line-height: 14px;
  color: #131921;
}
.link {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 360.98px) {
  .link {
    margin-bottom: 20px;
  }
}
.link a {
  font-weight: 500;
  color: #ff741f;
  margin-left: 5px;
}
ul {
  margin-left: 15px;
  margin-top: 10px;
}
ul li {
  font-size: 12px;
  color: #131921;
}
.pass-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.login-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-social .login-btn {
  border-radius: 20px;
  border: 1px solid #C9CFD9;
  background: #FAFAFA;
  max-width: 245px;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 39px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px;
  color: #363c49;
  font-size: 15px;
}
.login-social .login-btn__icon {
  max-width: 20px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.login-social .login-btn__icon img {
  width: 100%;
}
.or {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}
.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background: rgba(35, 47, 62, 0.97);
  padding: 68px 35px 60px 35px;
  z-index: 1000;
  overflow-y: auto;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;
}
.menu::-webkit-scrollbar {
  width: 7px;
  background-color: #fff;
}
.menu::-webkit-scrollbar-thumb {
  background: #ff751fe0;
  border-radius: 9em;
}
@media (max-width: 360.98px) {
  .menu {
    padding: 58px 20px 40px 20px;
  }
}
.menu .title {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}
.menu__close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 10px;
  left: 10px;
}
@media (max-width: 360.98px) {
  .menu__close {
    left: 15px;
  }
}
.menu__close i {
  font-size: 18px;
  color: #fff;
}
.menu__item-block {
  margin-bottom: 16px;
}
.menu__item-block ul {
  margin: 0;
}
.menu__item-block--social {
  margin-bottom: 26px;
}
.menu li,
.menu a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 14px;
}
.menu li {
  margin-bottom: 7px;
  list-style: none;
}
.menu li:last-child {
  margin-bottom: 0;
}
.menu p {
  font-size: 14px;
  color: #fff;
  margin-bottom: 24px;
}
.menu .subscribe {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu .subscribe input {
  max-width: 205px;
  width: 100%;
  background: #FAFAFA;
  border: 1px solid #C9CFD9;
  box-sizing: border-box;
  border-radius: 18px;
  min-height: 35px;
  padding: 0 15px;
  outline: none;
  margin-right: 10px;
}
@media (max-width: 360.98px) {
  .menu .subscribe .btn {
    padding: 0 10px;
    font-size: 8px;
  }
}
.menu .btn {
  border-radius: 18px;
  font-size: 11px;
  display: inline-flex;
  width: auto;
  min-height: 35px;
  padding: 11px 20px;
  margin-bottom: 0;
}
.menu.--open {
  opacity: 1;
  pointer-events: inherit;
  bottom: 0;
}
.header {
  background-color: #131921;
  padding: 10px 0 0;
}
.header__top {
  margin-bottom: 11px;
}
.header__top-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__col {
  display: flex;
  align-items: center;
}
.header .hamburger {
  font-weight: 22;
  height: 15px;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  margin-top: 1px;
}
.header .hamburger:after {
  position: absolute;
  content: '';
  font-family: icon;
  color: #fff;
  transition: all 0.3s;
}
.header .logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header__control {
  display: flex;
  align-items: center;
}
.header__control i {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.header__control .icon-compare {
  font-size: 20px;
}
.header__control a {
  margin-left: 15px;
  color: #ffffffbf;
}
.header__control a:hover {
  color: #ff741f;
}
.header__middle {
  margin-bottom: 10px;
}
.header__middle .search__input {
  border-radius: 22px;
  overflow: hidden;
  position: relative;
}
.header__middle .search__input input {
  min-height: 40px;
  width: 100%;
  max-width: 100%;
  padding-left: 16px;
  padding-right: 55px;
  outline: none;
  border: none;
  background-color: #5A5E64;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.header__middle .search__input input::placeholder {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}
.header__middle .search__input button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: #363c49;
  height: 100%;
  max-width: 45px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}
.header__middle .search__input button:hover {
  opacity: 0.8;
}
.header__bottom {
  background-color: #232F3E;
  position: relative;
  overflow: hidden;
}
.header__bottom:after {
  position: absolute;
  content: '';
  background: linear-gradient(267.55deg, #232F3E 19.72%, rgba(35, 47, 62, 0) 97.69%);
  width: 40px;
  height: 100%;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.header__nav {
  padding: 10px 0;
  overflow-y: scroll;
  white-space: nowrap;
}
.header__nav::-webkit-scrollbar {
  display: none;
}
.header__nav a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}
.main-banner__col-wrap {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  padding: 0 10px;
}
.main-banner__item {
  background-size: cover;
  min-height: 472px;
  max-height: 472px;
  background-position: top;
  position: relative;
  padding-top: 20px;
}
@media (max-width: 360.98px) {
  .main-banner__item {
    min-height: 419px;
    max-height: 419px;
  }
}
.main-banner__item:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
}
.main-banner__img {
  min-width: 89px;
  max-width: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
@media (max-width: 360.98px) {
  .main-banner__img {
    margin-right: 15px;
  }
}
.main-banner__img img {
  width: auto;
}
.main-banner__title p {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #131921;
}
@media (max-width: 360.98px) {
  .main-banner__title p {
    font-size: 14px;
    line-height: 16px;
  }
}
.main-banner__title p span {
  font-weight: 700;
}
.main-banner .btn {
  padding: 10px 20px;
  color: #fff;
  background-color: #131921;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  font-size: 10px;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 0;
  min-height: 34px;
  width: auto;
}
@media (max-width: 360.98px) {
  .main-banner .btn {
    padding: 9px 17px;
  }
}
.translateY-container {
  margin-top: -310px;
  height: 100%;
  position: relative;
  z-index: 9;
}
@media (max-width: 360.98px) {
  .translateY-container {
    margin-top: -265px;
  }
}
.brands {
  margin-bottom: 25px;
}
.brands .swiper {
  padding: 5px 0;
}
.brands .swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brands__item {
  padding: 6px;
  display: inline-block;
}
.brands__item--bx-sh {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
}
.brands__img {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
@media (max-width: 360.98px) {
  .brands__img {
    width: 45px;
    height: 45px;
  }
}
.brands--popular .brands__item {
  padding: 0;
}
.brands--popular .brands__item .brands__img {
  width: 80px;
  height: 80px;
  border-radius: 0;
  filter: none;
}
@media (max-width: 360.98px) {
  .brands--popular .brands__item .brands__img {
    width: 75px;
    height: 75px;
  }
}
.offer {
  margin-bottom: 15px;
}
.offer__item {
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.offer__title {
  min-height: 50px;
  display: flex;
  align-items: center;
  color: #131921;
  font-size: 15px;
  padding: 6px 10px;
  direction: ltr;
}
@media (max-width: 360.98px) {
  .offer__title {
    font-size: 11px;
    min-height: 35px;
    padding: 5px 7px;
    line-height: 13px;
  }
}
.offer__img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adv {
  margin-bottom: 5px;
}
.adv__col {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media (max-width: 360.98px) {
  .adv__col {
    min-height: 45px;
  }
}
.adv__col:first-child .adv__item {
  direction: ltr;
}
.adv__col:last-child .adv__item {
  align-items: flex-end;
  text-align: right;
}
.adv__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 23px;
  min-height: 100px;
  box-sizing: border-box;
  position: relative;
}
@media (max-width: 360.98px) {
  .adv__item {
    min-height: 75px;
  }
}
.adv__item:before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.adv__title,
.adv__subtitle {
  position: relative;
  color: #fff;
  z-index: 2;
}
.adv__title {
  font-weight: 700;
  z-index: 16;
  font-size: 20px;
  line-height: 23px;
  text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
@media (max-width: 360.98px) {
  .adv__title {
    font-size: 13px;
    line-height: normal;
  }
}
.adv__subtitle {
  font-size: 10px;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}
@media (max-width: 360.98px) {
  .adv__subtitle {
    font-size: 9px;
  }
}
.rand-offer,
.interest {
  margin-bottom: 15px;
}
.rand-offer .swiper,
.interest .swiper {
  margin-top: 10px;
}
.rand-offer .swiper-slide,
.interest .swiper-slide {
  height: auto;
}
.rand-offer__item,
.interest__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.rand-offer__item img,
.interest__item img {
  width: auto;
  max-height: 70px;
  min-height: 70px;
  max-width: 100%;
}
.select {
  margin-bottom: 25px;
  padding: 9px;
  position: relative;
}
.select__selected {
  color: #000;
  font-weight: 500;
  font-size: 15px;
  border-bottom: 1px solid #DADADA;
  padding: 5px;
  margin-top: 5px;
}
.select__selected i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #bcbfc1;
}
.select__dropdown {
  background-color: #fff;
  padding: 0;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
}
.select__option {
  padding: 5px;
  font-size: 14px;
}
.select__option:nth-child(2n) {
  background-color: #efefef3d;
}
.select--bs {
  margin-bottom: 10px;
}
.select--bs .select__selected {
  border: none;
  margin: 0;
  padding: 0;
  color: #363C49;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.select--bs .select__selected i {
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5px;
  color: #323232;
  width: 30px;
  height: 100%;
  background-color: #fff;
}
.select--bs .select__dropdown {
  border-radius: 0 0 5px 5px;
  top: calc(100% - 5px);
}
.select--bs .select__dropdown .select__option {
  padding: 5px 13px;
}
.basket {
  margin-bottom: 72px;
}
.basket__control {
  display: flex;
  margin-bottom: 20px;
}
.basket__control-item i {
  margin-right: 6px;
  color: #323232;
}
.basket__control-item--select i {
  color: #006CB3;
}
.basket__control-item:first-child {
  margin-right: 30px;
}
.basket__product-item-col {
  display: flex;
  align-items: center;
}
.basket__product-item-col:last-child {
  width: 100%;
}
.basket__product-item {
  margin-bottom: 23px;
  display: flex;
  align-items: flex-start;
}
.basket__product-item:last-child {
  margin-bottom: 30px;
}
.basket__product-ckeck {
  display: flex;
  align-items: center;
}
@media (max-width: 360.98px) {
  .basket__product-ckeck {
    align-items: start;
  }
}
.basket__product-img {
  padding-left: 15px;
  padding-right: 25px;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 427.98px) {
  .basket__product-img {
    padding-left: 5px;
    padding-right: 10px;
  }
}
@media (max-width: 360.98px) {
  .basket__product-img {
    align-items: start;
  }
}
.basket__product-img img {
  max-width: 75px;
  min-width: 75px;
}
@media (max-width: 427.98px) {
  .basket__product-img img {
    max-width: 55px;
    min-width: 55px;
  }
}
.basket__product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.basket__product-name,
.basket__product-num,
.basket__product-appearance-wrap,
.basket__product-price {
  margin-bottom: 5px;
}
.basket__product-name {
  margin-bottom: 3px;
}
@media (max-width: 427.98px) {
  .basket__product-name {
    font-size: 14px;
  }
}
.basket__product-num {
  font-size: 14px;
  color: #000;
}
@media (max-width: 427.98px) {
  .basket__product-num {
    font-size: 12px;
  }
}
.basket__product-appearance-wrap {
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 360.98px) {
  .basket__product-appearance-wrap {
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.basket__product-appearance {
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.basket__product-appearance:last-child {
  margin-right: 0;
  width: 100%;
  justify-content: space-between;
}
.basket__product-appearance span {
  font-weight: 400;
  margin-left: 5px;
}
.basket__product-price {
  font-weight: 500;
  color: #000;
}
.basket__product-control {
  display: flex;
  align-items: center;
  font-size: 13px;
  justify-content: space-between;
}
@media (max-width: 360.98px) {
  .basket__product-control {
    font-size: 11px;
  }
}
.basket__product-control i {
  margin-right: 6px;
}
@media (max-width: 360.98px) {
  .basket__product-control i {
    margin-right: 3px;
    font-size: 10px;
  }
}
.basket__product-favorites {
  color: #006CB3;
  margin-right: 5px;
}
.basket__product-delete {
  color: #818181;
}
.basket__product-delete i {
  color: #323232;
}
.basket .number {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  max-width: 66px;
  min-height: 23px;
  width: 100%;
  padding: 5px 6px;
  margin-left: 5px;
}
.basket .number span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket .number span svg {
  width: 10px;
  height: 10px;
}
.basket .number span svg path {
  fill: #323232;
}
.basket .number input {
  border: none;
  max-width: 40px;
  width: 100%;
  text-align: center;
  font-size: 11px;
  outline: none;
}
.basket__total {
  margin-bottom: 10px;
  padding: 20px 14px 14px;
}
.basket__total-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.basket__total-lg {
  font-size: 18px;
  color: #000;
}
.basket__total-sm {
  font-size: 14px;
  color: #BCBFC1;
}
.credit {
  color: #232F3E;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  padding: 7px;
}
.credit span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
  margin-left: 12px;
  color: #363C49;
}
.tab {
  margin-bottom: 25px;
}
.tab .tabs {
  margin: 0;
  margin-bottom: 25px;
}
.tab .tabs li {
  position: relative;
  list-style: none;
  margin-bottom: 13px;
  cursor: pointer;
}
.tab .tabs li .bt {
  font-size: 14px;
  color: #131921;
  position: relative;
  display: flex;
  align-items: center;
}
.tab .tabs li .bt svg {
  margin-right: 5px;
}
.tab .tabs li .bt .rb {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}
.tab .tabs li .bt .rb:before,
.tab .tabs li .bt .rb:after {
  position: absolute;
  content: '';
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.tab .tabs li .bt .rb:before {
  width: 16px;
  height: 16px;
  border: 2px solid #BCBFC1;
}
.tab .tabs li .bt .rb:after {
  width: 11px;
  height: 11px;
  background-color: #131921;
  opacity: 0;
}
.tab .tabs li.current .bt .rb:before {
  border-color: #131921;
}
.tab .tabs li.current .bt .rb:after {
  opacity: 1;
}
.tabs_item {
  display: none;
}
.tabs_item:first-child {
  display: block;
}
.work-time {
  font-size: 14px;
  color: #006cb3;
}
.order__recipient-information {
  margin-bottom: 25px;
}
.order__recipient-information .input {
  max-width: 245px;
}
.order__pay-method {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order__pay-method-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  max-width: 45%;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  padding: 19px;
  cursor: pointer;
}
@media (max-width: 360.98px) {
  .order__pay-method-item {
    max-width: 49%;
  }
}
.order__pay-method-item.--open {
  color: #006CB3;
}
.order__pay-method-item.--open .order__pay-method-arrow i {
  transform: translate(-50%, -50%) rotate(180deg);
}
.order__pay-method-item.--open .order__pay-method-dropdown {
  display: block;
  padding: 19px 19px 19px 23px;
}
.order__pay-method-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  transition: all 0.3s;
}
.order__pay-method-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  position: relative;
  width: 15px;
  height: 15px;
}
.order__pay-method-arrow i {
  font-size: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.order__pay-method-arrow i:before {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.order__pay-method-icon {
  margin-right: 10px;
}
.order__pay-method-icon i {
  transition: all 0.3s;
}
.order__pay-method-icon .icon-pay2,
.order__pay-method-icon .icon-pay4 {
  font-size: 19px;
}
.order__pay-method-dropdown {
  position: absolute;
  top: calc(100%  - 5px);
  width: 100%;
  left: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
  display: none;
  background-color: #fff;
  z-index: 9;
}
.order__pay-system {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.order__pay-system:last-child {
  margin-bottom: 0;
}
.order__pay-system label {
  margin-left: 15px;
}
.category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.category__item {
  width: 25%;
  margin-bottom: 20px;
  min-height: 80px;
  display: flex;
  justify-content: center;
}
.category__item-wrap {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
}
.category__img {
  margin-bottom: 5px;
  max-width: 40px;
}
.category__name {
  text-align: center;
  font-size: 11px;
  color: #000;
}
.popular-category {
  margin-bottom: 30px;
}
.popular-category .swiper-slide {
  direction: ltr;
}
.popular-category__item {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: auto;
}
@media (max-width: 360.98px) {
  .popular-category__item {
    width: 75px;
    height: 75px;
  }
}
.popular-category__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}
.popular-category__img img {
  width: auto;
  max-height: 45px;
}
.popular-category__name {
  font-size: 11px;
  color: #000;
  text-align: center;
  line-height: 14px;
  padding: 0 5px;
}
@media (max-width: 360.98px) {
  .popular-category__name {
    font-size: 10px;
    line-height: 12px;
  }
}
.poduct-slider {
  margin-bottom: 30px;
}
.poduct-slider__item {
  display: flex;
  flex-direction: column;
}
.poduct-slider__img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.poduct-slider__name {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 6px;
}
@media (max-width: 360.98px) {
  .poduct-slider__name {
    font-size: 12px;
    line-height: 14px;
  }
}
.poduct-slider__price {
  font-size: 15px;
  font-weight: 500;
  color: #323232;
}
@media (max-width: 360.98px) {
  .poduct-slider__price {
    font-size: 13px;
  }
}
.catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog .card {
  width: calc(50% - 5px);
}
.catalog__product-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;
}
.card__img {
  margin-bottom: 10px;
}
.card__name {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 10px;
}
.card__price {
  margin-bottom: 10px;
  font-weight: 500;
}
.card .btn {
  margin-bottom: 0;
}
.filter {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.product-detail {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 25px 0 70px 0;
  overflow-y: auto;
  opacity: 0;
  transition: all 0.3s;
}
.product-detail.--open {
  opacity: 1;
  top: 0;
}
.product-detail__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.product-detail__item {
  display: flex;
  align-items: center;
}
.product-detail__item i {
  color: #363c49;
}
.product-detail__item .icon-compare {
  font-size: 19px;
}
.product-detail__compare {
  margin-right: 10px;
}
.product-detail__img {
  margin-bottom: 25px;
}
.product-detail__name {
  margin-bottom: 20px;
}
.product-detail__rating {
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.product-detail__rating .rating-area {
  direction: rtl;
  display: inline-block;
}
.product-detail__rating .rating-area:not(:checked) > input {
  display: none;
}
.product-detail__rating .rating-area:not(:checked) > label {
  cursor: pointer;
  color: #E4E4E4;
  width: 23px;
  display: inline-flex;
  justify-content: center;
  font-size: 18px;
}
.product-detail__rating .rating-area:not(:checked) > label:before {
  content: '';
  font-family: 'icon';
}
.product-detail__rating .rating-area > input:checked ~ label {
  color: #FFCD00;
}
.product-detail__rating .rating-area:not(:checked) > label:hover,
.product-detail__rating .rating-area:not(:checked) > label:hover ~ label {
  color: #FFCD00;
}
.product-detail__rating .rating-area > input:checked + label:hover,
.product-detail__rating .rating-area > input:checked + label:hover ~ label,
.product-detail__rating .rating-area > input:checked ~ label:hover,
.product-detail__rating .rating-area > input:checked ~ label:hover ~ label,
.product-detail__rating .rating-area > label:hover ~ input:checked ~ label {
  color: #FFCD00;
}
.product-detail__rating .rate-area > label:active {
  position: relative;
}
.product-detail__reviews-count {
  margin-left: 15px;
}
.product-detail__interesting-count {
  color: #20BF6B;
  margin-bottom: 10px;
}
.product-detail__preice {
  font-size: 30px;
  font-weight: 500;
  color: #323232;
  margin-bottom: 25px;
}
.product-detail__desc {
  margin-bottom: 30px;
}
.product-detail__desc p {
  margin-bottom: 10px;
}
.product-detail__desc-item-wrap {
  margin-top: 25px;
}
.product-detail__desc-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  position: relative;
}
.product-detail__desc-item:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #C9CFD9;
  top: calc(100% - 2px);
}
.product-detail__desc-item span {
  background-color: #fff;
  z-index: 1;
}
.product-detail__desc-item span:first-child {
  padding-right: 15px;
}
.product-detail__desc-item span:last-child {
  padding-left: 15px;
  text-align: right;
}
.product-detail__similar {
  padding-bottom: 15px;
  padding-right: 30px;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 20px;
}
@media (max-width: 360.98px) {
  .product-detail__similar {
    font-size: 13px;
  }
}
.product-detail__similar a {
  color: #384351;
  display: block;
  position: relative;
}
.product-detail__similar a:after {
  position: absolute;
  content: '';
  font-family: 'icon';
  font-size: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  right: -20px;
}
.reviews {
  margin-bottom: 20px;
}
.reviews__reviewer {
  display: flex;
  margin-bottom: 20px;
}
.reviews__reviewer-avatar {
  border-radius: 100%;
  max-width: 60px;
  width: 100%;
  max-height: 60px;
  overflow: hidden;
}
.reviews__reviewer-info {
  margin-left: 15px;
}
.reviews__reviewer-name {
  font-weight: 500;
  margin-bottom: 3px;
}
.reviews__review-date {
  font-size: 14px;
}
.reviews__review {
  margin-bottom: 10px;
}
.reviews__review-control * {
  color: #bcbfc1;
  display: inline-block;
  font-size: 14px;
}
.reviews__review-control i {
  margin-right: 7px;
}
.reviews__review-control button {
  border: none;
  background-color: transparent;
  outline: none;
  margin-right: 12px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.reviews__review-dislike i {
  transform: rotate(180deg);
}
.profile__top {
  text-align: center;
  margin-bottom: 30px;
}
.profile__avatar {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
}
.profile__avatar-wrap {
  max-width: 94px;
  width: 100%;
  max-height: 94px;
  border-radius: 100%;
  overflow: hidden;
}
.profile__avatar-setting {
  position: absolute;
  width: 25px;
  height: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.profile__avatar-setting i {
  font-size: 13px;
  color: #BCBFC1;
}
.profile__avatar-setting input {
  position: absolute;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.profile__name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.profile__name * {
  font-size: 20px;
  font-weight: 500;
}
.profile__name input {
  outline: none;
  border: none;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  pointer-events: none;
  height: 24px;
}
.profile__name input.--change {
  pointer-events: inherit;
}
.profile__name-wrap {
  position: relative;
}
.profile__name-wrap:after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: red;
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.profile__name-wrap.--error:after {
  width: 100%;
}
.profile__name-settings {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  right: 0;
}
.profile__name-settings i {
  color: #C9CFD9;
  font-size: 13px;
}
.profile__input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  position: relative;
}
.profile__input:after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  background-color: red;
  transition: all 0.3s;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.profile__input.--error:after {
  width: 100%;
}
.profile__input label {
  font-weight: 500;
  margin-bottom: 10px;
}
.profile__input input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #DADADA;
  padding-bottom: 10px;
  background: none;
}
.profile__input input:focus {
  outline: none;
  border-bottom: 1px solid #000;
}
.profile .btn {
  margin-top: 30px;
}
.profile__item {
  padding: 15px 5px;
  border-bottom: 1px solid #DADADA;
  display: flex;
  align-items: center;
  color: #363c49;
}
.profile__item-icon {
  width: 20px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
.profile__item-icon i:before {
  width: 20px;
}
.comparison__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.comparison__delete {
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparison__delete i {
  margin-right: 6px;
  color: #323232;
}
.comparison__characteristics {
  border-bottom: 1px solid #DADADA;
  position: relative;
  padding: 10px;
  margin-bottom: 20px;
}
.comparison__characteristics.--open .comparison__characteristics-dropdown {
  display: block;
}
.comparison__characteristics-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 0;
  border-radius: 0;
  display: none;
}
.comparison__characteristics-selected {
  padding-top: 0;
  position: relative;
}
.comparison__characteristics-selected:after {
  position: absolute;
  content: '';
  font-family: 'icon';
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 10px;
}
.comparison__characteristics-selected i {
  position: absolute;
  margin-left: 10px;
  font-size: 9px;
  top: 5px;
  transition: all 0.3s;
}
.comparison__characteristics-selected i:before {
  width: 10px;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.comparison__characteristics-option {
  padding: 5px 10px;
}
.comparison__characteristics-option:nth-child(2n) {
  background-color: #efefef3d;
}
.comparison__section {
  margin-bottom: 20px;
}
.comparison__section--color {
  padding-bottom: 20px;
  border-bottom: 1px solid #DADADA;
}
.comparison__section-title {
  line-height: 19px;
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}
.comparison__col-wrap {
  display: flex;
  justify-content: space-between;
}
.comparison__section-col {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.comparison__img {
  max-width: 112px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comparison__name {
  font-size: 14px;
  color: #323232;
  line-height: 16.41px;
}
.comparison__rating {
  display: flex;
  align-items: center;
}
.comparison__rating-star span,
.comparison__rating-star i {
  color: #E4E4E4;
}
.comparison__rating-count {
  margin-left: 5px;
}
.comparison__val {
  line-height: 19px;
  text-align: center;
}
.comparison__color ul {
  display: flex;
}
.comparison__color ul li {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  overflow: hidden;
  margin-right: 5px;
}
.comparison__color ul li:last-child {
  margin-right: 0;
}
.comparison__color ul li.comparison__light-color {
  border: 1px solid #C9CFD9;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 8px;
}
@media (max-width: 430.98px) {
  .banner {
    min-height: 85px;
  }
}
@media (max-width: 360.98px) {
  .banner {
    min-height: 75px;
  }
}
.banner__title {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}
.banner__subtitle {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}
.banner--align-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}
.banner--align-left:befere {
  position: absolute;
  content: '';
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  width: 100%;
  height: 100%;
}
.banner--align-left .banner__title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}
.double-slider-js {
  padding: 1px !important;
}
.additional-desc {
  font-size: 14px;
  line-height: 16.41px;
  color: #131921;
  margin-top: 17px;
}
.additional-desc__title {
  font-weight: 500;
  margin-bottom: 15px;
}
.additional-desc__desc {
  height: 150px;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s;
  font-weight: 400;
}
.additional-desc__desc:after {
  position: absolute;
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  transition: all 0.3s;
}
.additional-desc__desc.--open {
  overflow: visible;
  height: auto;
}
.additional-desc__desc.--open:after {
  opacity: 0;
  pointer-events: none;
}
.additional-desc__more,
.additional-desc__hide {
  font-weight: 500;
  cursor: pointer;
}
.additional-desc__hide {
  display: none;
}
.social ul {
  display: flex;
  align-items: center;
}
.social ul li {
  margin-right: 37px;
  margin-bottom: 0;
}
@media (max-width: 450.98px) {
  .social ul li {
    margin-right: 30px;
  }
}
@media (max-width: 400.98px) {
  .social ul li {
    margin-right: 25px;
  }
}
.social ul li:last-child {
  margin-right: 0;
}
.social ul li a {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 450.98px) {
  .social ul li a {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 360.98px) {
  .social ul li a {
    width: 30px;
    height: 30px;
  }
}
.social ul li a i {
  font-size: 14px;
}
.slider {
  margin: auto;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  margin-bottom: 13px;
}
.slider .swiper {
  overflow: visible;
}
.slider .swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}
.slider .swiper .swiper-slide-prev .slider__item {
  margin-right: -10%;
}
.slider .swiper .swiper-slide-active .slider__item {
  transform: scale(1);
}
.slider .swiper .swiper-slide-next .slider__item {
  margin-left: -10%;
}
.slider__item {
  border-radius: 5px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: all 0.3s;
}
.category-trigger {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 13px 15px;
  position: relative;
}
.category-trigger span {
  margin-left: 15px;
}
.category-trigger .icon-angle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  color: #c9cfd9;
  font-size: 10px;
}
.category-trigger .icon-angle:before {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
