* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #cccccc10;
  color: #384351;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.breadcrumbs {
  margin-bottom: 15px;

  ul {
    margin: 0;

    li {
      list-style: none;
      font-size: 12px;
      font-weight: 500;
      display: inline-block;
      position: relative;
      padding-right: 10px;

      &:after {
        position: absolute;
        content: '/';
        right: 2px;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }

      a {
        color: #384351;
      }
    }
  }
}

.input {
  margin-top: 12px;

  label {
    text-transform: uppercase;
    color: #656D77;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;

    span {
      color: red;
    }
  }

  input {
    border: 1px solid #BCBFC1;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    min-height: 35px;
    padding: 0 11px;
    font-size: 14px;

    &::placeholder {
      color: #bcbfc1;
    }
  }
}

.bottom-indent {
  padding-bottom: 70px;
  margin-top: 20px;
}

.bs-sm {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 13px;
}

.bs-lg {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 26px 40px;

  @media (max-width: 427.98px) {
    padding: 20px 15px;
  }
}

.bx-sh {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.title {
  font-weight: 700;
  margin-bottom: 13px;
  position: relative;

  &--ttu {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
  }

  &--dark {
    color: #131921;
    font-size: 18px;
  }

  &--lg {
    font-size: 20px;
  }

  &--sm {
    font-size: 16px;
  }
}

.btn {
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 40px;
  margin-bottom: 12px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);

  @media (max-width: 360.98px) {
    font-size: 14px;
  }

  &--dark {
    background-color: #131921;
  }

  &--orange {
    background-color: #FF741F;
  }
}

.t15 {
  color: #717171;
  font-size: 15px;
}

.container {
  margin: auto;
  padding: 0 10px;
}

.panel-control {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999;
  left: 0;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.05);
  padding: 13px 0;

  &__item {
    color: #656D77;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(20% - 3px);

    i,
    .panel-control__title {
      transition: all .3s;
    }

    &:hover {
      color: #ff741f;
    }

    &.active {
      color: #ff741f;
    }
  }

  &__icon {
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__title {
    font-size: 11px;
  }

  &__alert {
    font-size: 8px;
    color: #fff;
    background-color: #F20000;
    border-radius: 10px;
    position: absolute;
    bottom: 65%;
    left: 50%;
    padding: 1px 3px;
  }
}

.form {
  background-color: #fff;
  margin-bottom: 16px;

  .title {
    font-size: 18px;
  }

  .input {
    margin-top: 10px;

    label {
      text-transform: uppercase;
      color: #656D77;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 6px;
      display: block;
    }

    input {
      border-radius: 5px;
      background: #FFFFFF;
      border: 1px solid #BCBFC1;
      min-height: 42px;
      width: 100%;
      padding: 0 15px;
    }
  }

  .check {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;

    label {
      color: #131921;
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 10px;
      margin-left: 20px;
      display: block;
    }

    input {
      position: absolute;
      left: 0;
      top: 1px;
    }
  }
}

.info {
  font-size: 12px;
  line-height: 14px;
  color: #131921;
  // white-space: nowrap;
}

.link {
  font-size: 14px;
  color: #000;
  text-align: center;
  margin-bottom: 30px;

  @media (max-width: 360.98px) {
    margin-bottom: 20px;
  }

  a {
    font-weight: 500;
    color: #ff741f;
    margin-left: 5px;
  }
}

ul {
  margin-left: 15px;
  margin-top: 10px;

  li {
    font-size: 12px;
    color: #131921;

  }
}

.pass-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.login-social {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-btn {
    border-radius: 20px;
    border: 1px solid #C9CFD9;
    background: #FAFAFA;
    max-width: 245px;
    width: 100%;
    display: flex;
    align-items: center;
    min-height: 39px;
    position: relative;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #363c49;
    font-size: 15px;

    &__icon {
      max-width: 20px;
      width: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }
  }
}

.or {
  font-size: 12px;
  // margin: 15px 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  background: rgba(35, 47, 62, 0.97);
  padding: 68px 35px 60px 35px;
  z-index: 1000;
  overflow-y: auto;
  transition: all .3s;
  opacity: 0;
  pointer-events: none;

  &::-webkit-scrollbar {
    width: 7px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #ff751fe0;
    border-radius: 9em;
  }

  @media (max-width: 360.98px) {
    padding: 58px 20px 40px 20px;
  }

  .title {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10px;
    left: 10px;

    @media (max-width: 360.98px) {
      left: 15px;
    }

    i {
      font-size: 18px;
      color: #fff;
    }
  }

  &__item-block {
    margin-bottom: 16px;

    ul {
      margin: 0;
    }

    &--social {
      margin-bottom: 26px;
    }
  }

  li,
  a {
    color: rgba(255, 255, 255, 0.75);
    font-size: 14px;
  }

  li {
    margin-bottom: 7px;
    list-style: none;

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 24px;
  }

  .subscribe {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      max-width: 205px;
      width: 100%;
      background: #FAFAFA;
      border: 1px solid #C9CFD9;
      box-sizing: border-box;
      border-radius: 18px;
      min-height: 35px;
      padding: 0 15px;
      outline: none;
      margin-right: 10px;
    }

    .btn {
      @media (max-width: 360.98px) {
        padding: 0 10px;
        font-size: 8px;
      }
    }
  }

  .btn {
    border-radius: 18px;
    font-size: 11px;
    display: inline-flex;
    width: auto;
    min-height: 35px;
    padding: 11px 20px;
    margin-bottom: 0;
  }

  &.--open {
    opacity: 1;
    pointer-events: inherit;
    bottom: 0;
  }
}

.header {
  background-color: #131921;
  padding: 10px 0 0;

  &__top {
    margin-bottom: 11px;
  }

  &__top-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__col {
    display: flex;
    align-items: center;
  }

  .hamburger {
    font-weight: 22;
    height: 15px;
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    margin-top: 1px;

    &:after {
      position: absolute;
      content: '';
      font-family: icon;
      color: #fff;
      transition: all .3s;
    }
  }

  .logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__control {
    display: flex;
    align-items: center;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all .3s;
    }

    .icon-compare {
      font-size: 20px;
    }

    a {
      margin-left: 15px;
      color: #ffffffbf;

      &:hover {
        color: #ff741f;
      }
    }
  }

  &__middle {
    margin-bottom: 10px;

    .search {
      &__input {
        border-radius: 22px;
        overflow: hidden;
        position: relative;

        input {
          min-height: 40px;
          width: 100%;
          max-width: 100%;
          padding-left: 16px;
          padding-right: 55px;
          outline: none;
          border: none;
          background-color: #5A5E64;
          color: #fff;
          font-size: 14px;
          font-weight: 300;

          &::placeholder {
            color: #fff;
            font-family: 'Roboto',
              sans-serif;
          }
        }

        button {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 20px;
          background-color: #363c49;
          height: 100%;
          max-width: 45px;
          width: 100%;
          border: none;
          outline: none;
          font-size: 15px;
          color: #fff;
          cursor: pointer;

          &:hover {
            opacity: .8;
          }
        }
      }
    }
  }

  &__bottom {
    background-color: #232F3E;
    position: relative;
    overflow: hidden;

    &:after {
      position: absolute;
      content: '';
      background: linear-gradient(267.55deg, #232F3E 19.72%, rgba(35, 47, 62, 0) 97.69%);
      width: 40px;
      height: 100%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

  }

  &__nav {
    padding: 10px 0;
    overflow-y: scroll;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      color: #fff;
      font-size: 14px;
      font-weight: 500;
      margin-right: 20px;
    }
  }
}


.main-banner {
  &__col-wrap {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 1;
    padding: 0 10px;
  }

  &__item {
    background-size: cover;
    min-height: 472px;
    max-height: 472px;
    background-position: top;
    position: relative;
    padding-top: 20px;

    @media (max-width: 360.98px) {
      min-height: 419px;
      max-height: 419px;
    }

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%),
    }
  }

  &__img {
    min-width: 89px;
    max-width: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 25px;

    @media (max-width: 360.98px) {
      margin-right: 15px;
    }

    img {
      width: auto;
    }
  }

  &__title {
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      color: #131921;

      @media (max-width: 360.98px) {
        font-size: 14px;
        line-height: 16px;
      }

      span {
        font-weight: 700;
      }
    }
  }

  .btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #131921;
    text-transform: uppercase;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    font-size: 10px;
    display: inline-flex;
    margin-top: 10px;
    margin-bottom: 0;
    min-height: 34px;
    width: auto;

    @media (max-width: 360.98px) {
      padding: 9px 17px;
    }
  }
}

.translateY-container {
  margin-top: -310px;
  height: 100%;
  position: relative;
  z-index: 9;

  @media (max-width: 360.98px) {
    margin-top: -265px;
  }
}

.brands {
  margin-bottom: 25px;

  .swiper {
    padding: 5px 0;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    padding: 6px;
    display: inline-block;

    &--bx-sh {
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      background-color: #fff;
      overflow: hidden;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));

    @media (max-width: 360.98px) {
      width: 45px;
      height: 45px;
    }
  }

  &--popular {
    .brands__item {
      padding: 0;

      .brands__img {
        width: 80px;
        height: 80px;
        border-radius: 0;
        filter: none;

        @media (max-width: 360.98px) {
          width: 75px;
          height: 75px;
        }
      }
    }
  }
}

.offer {
  margin-bottom: 15px;

  &__item {
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }

  &__title {
    min-height: 50px;
    display: flex;
    align-items: center;
    color: #131921;
    font-size: 15px;
    padding: 6px 10px;
    direction: ltr;

    @media (max-width: 360.98px) {
      font-size: 11px;
      min-height: 35px;
      padding: 5px 7px;
      line-height: 13px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.adv {
  margin-bottom: 5px;

  &__col {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;

    @media (max-width: 360.98px) {
      min-height: 45px;
    }

    &:first-child {

      .adv__item {
        direction: ltr;
      }
    }

    &:last-child {
      .adv__item {
        align-items: flex-end;
        text-align: right;
      }
    }


  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 23px;
    min-height: 100px;
    box-sizing: border-box;

    @media (max-width: 360.98px) {
      min-height: 75px;
    }

    position: relative;

    &:before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, .2);
    }
  }

  &__title,
  &__subtitle {
    position: relative;
    color: #fff;
    z-index: 2;
  }

  &__title {
    font-weight: 700;
    z-index: 16;
    font-size: 20px;
    line-height: 23px;
    text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5px;

    @media (max-width: 360.98px) {
      font-size: 13px;
      line-height: normal;
    }
  }

  &__subtitle {
    font-size: 10px;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);

    @media (max-width: 360.98px) {
      font-size: 9px;
    }
  }
}


.rand-offer,
.interest {
  margin-bottom: 15px;

}

.rand-offer,
.interest {
  .swiper {
    margin-top: 10px;
  }

  .swiper-slide {
    height: auto;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      width: auto;
      max-height: 70px;
      min-height: 70px;
      max-width: 100%;
    }
  }
}

.select {
  margin-bottom: 25px;
  padding: 9px;
  position: relative;

  &__selected {
    color: #000;
    font-weight: 500;
    font-size: 15px;
    border-bottom: 1px solid #DADADA;
    padding: 5px;
    margin-top: 5px;

    i {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #bcbfc1;
    }
  }

  &__dropdown {
    background-color: #fff;
    padding: 0;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
  }

  &__option {
    padding: 5px;
    font-size: 14px;

    &:nth-child(2n) {
      background-color: #efefef3d;
    }
  }

  &--bs {
    margin-bottom: 10px;

    .select__selected {
      border: none;
      margin: 0;
      padding: 0;
      color: #363C49;
      font-size: 14px;
      overflow: hidden;
      white-space: nowrap;

      i {
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 5px;
        color: #323232;
        width: 30px;
        height: 100%;
        background-color: #fff;
      }
    }

    .select__dropdown {
      border-radius: 0 0 5px 5px;
      top: calc(100% - 5px);

      .select__option {
        padding: 5px 13px;
      }
    }
  }
}

.basket {
  margin-bottom: 72px;

  &__control {
    display: flex;
    margin-bottom: 20px;
  }

  &__control-item {

    i {
      margin-right: 6px;
      color: #323232;
    }

    &--select {
      i {
        color: #006CB3;
      }
    }

    &:first-child {
      margin-right: 30px;
    }
  }

  &__product-item-col {
    display: flex;
    align-items: center;

    &:last-child {
      width: 100%;
    }
  }

  &__product-item {
    margin-bottom: 23px;
    display: flex;
    align-items: flex-start;

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &__product-ckeck {
    display: flex;
    align-items: center;

    @media (max-width: 360.98px) {
      align-items: start;
    }
  }

  &__product-img {
    padding-left: 15px;
    padding-right: 25px;
    display: flex;
    align-items: flex-start;

    @media (max-width: 427.98px) {
      padding-left: 5px;
      padding-right: 10px;
    }

    @media (max-width: 360.98px) {
      align-items: start;
    }

    img {
      max-width: 75px;
      min-width: 75px;

      @media (max-width: 427.98px) {
        max-width: 55px;
        min-width: 55px;
      }
    }
  }

  &__product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &__product-name,
  &__product-num,
  &__product-appearance-wrap,
  &__product-price {
    margin-bottom: 5px;
  }

  &__product-name {

    margin-bottom: 3px;

    @media (max-width: 427.98px) {
      font-size: 14px;
    }
  }

  &__product-num {
    font-size: 14px;
    color: #000;

    @media (max-width: 427.98px) {
      font-size: 12px;
    }
  }

  &__product-appearance-wrap {
    color: #000;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 100%;


    @media (max-width: 360.98px) {
      font-size: 14px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__product-appearance {
    margin-right: 10px;
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
      width: 100%;
      justify-content: space-between;
    }

    span {
      font-weight: 400;
      margin-left: 5px;
    }
  }

  &__product-price {
    font-weight: 500;
    color: #000;
  }

  &__product-control {
    display: flex;
    align-items: center;
    font-size: 13px;
    justify-content: space-between;

    @media (max-width: 360.98px) {
      font-size: 11px;
    }

    i {
      margin-right: 6px;

      @media (max-width: 360.98px) {
        margin-right: 3px;
        font-size: 10px;
      }
    }
  }

  &__product-favorites {
    color: #006CB3;
    margin-right: 5px;
  }

  &__product-delete {
    color: #818181;

    i {
      color: #323232;
    }
  }

  .number {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    max-width: 66px;
    min-height: 23px;
    width: 100%;
    padding: 5px 6px;
    margin-left: 5px;

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 10px;
        height: 10px;

        path {
          fill: #323232;
        }
      }
    }

    input {
      border: none;
      max-width: 40px;
      width: 100%;
      text-align: center;
      font-size: 11px;
      outline: none;
    }
  }

  &__total {
    margin-bottom: 10px;
    padding: 20px 14px 14px;
  }

  &__total-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__total-lg {
    font-size: 18px;
    color: #000;
  }

  &__total-sm {
    font-size: 14px;
    color: #BCBFC1;
  }
}

.credit {
  color: #232F3E;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  padding: 7px;

  span {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    margin-left: 12px;
    color: #363C49;
  }
}

.tab {
  margin-bottom: 25px;

  .tabs {
    margin: 0;
    margin-bottom: 25px;

    li {
      position: relative;
      list-style: none;
      margin-bottom: 13px;
      cursor: pointer;

      .bt {
        font-size: 14px;
        color: #131921;
        position: relative;
        display: flex;
        align-items: center;

        svg {
          margin-right: 5px;
        }

        .rb {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 20px;
          height: 20px;
          margin-right: 7px;

          &:before,
          &:after {
            position: absolute;
            content: '';
            border-radius: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all .3s;
          }

          &:before {
            width: 16px;
            height: 16px;
            border: 2px solid #BCBFC1;
          }

          &:after {
            width: 11px;
            height: 11px;
            background-color: #131921;
            opacity: 0;
          }
        }
      }

      &.current {
        .bt {
          .rb {
            &:before {
              border-color: #131921;
            }

            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.tabs_item {
  display: none;

  &:first-child {
    display: block;
  }
}

.work-time {
  font-size: 14px;
  color: #006cb3;
}


.order {
  &__recipient-information {
    margin-bottom: 25px;

    .input {
      max-width: 245px;
    }
  }

  &__pay-method {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__pay-method-item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    min-height: 55px;
    max-width: 45%;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding: 19px;
    cursor: pointer;

    @media (max-width: 360.98px) {
      max-width: 49%;
    }

    &.--open {
      color: #006CB3;

      .order__pay-method-arrow {
        i {
          transform: translate(-50%, -50%) rotate(180deg);
        }
      }

      .order__pay-method-dropdown {
        display: block;
        padding: 19px 19px 19px 23px;
      }
    }
  }

  &__pay-method-name {
    display: flex;
    align-items: center;
    font-size: 14px;
    transition: all .3s;
  }

  &__pay-method-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    position: relative;
    width: 15px;
    height: 15px;

    i {
      font-size: 8px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all .3s;

      &:before {
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__pay-method-icon {
    margin-right: 10px;

    i {
      transition: all .3s;
    }

    .icon-pay2,
    .icon-pay4 {
      font-size: 19px;
    }
  }

  &__pay-method-dropdown {
    position: absolute;
    top: calc(~ '100%  - 5px');
    width: 100%;
    background-color: #fff;
    left: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
    display: none;
    background-color: #fff;
    z-index: 9;
  }

  &__pay-system {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      margin-left: 15px;
    }
  }
}

.category {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  &__item {
    width: 25%;
    margin-bottom: 20px;
    min-height: 80px;
    display: flex;
    justify-content: center;
  }

  &__item-wrap {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(~ '100% - 10px');
  }

  &__img {
    margin-bottom: 5px;
    max-width: 40px;
  }

  &__name {
    text-align: center;
    font-size: 11px;
    color: #000;
  }
}

.popular-category {
  margin-bottom: 30px;

  .swiper-slide {
    direction: ltr;
  }

  &__item {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: 80px;
    margin: auto;

    @media (max-width: 360.98px) {
      width: 75px;
      height: 75px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;

    img {
      width: auto;
      max-height: 45px;
    }
  }

  &__name {
    font-size: 11px;
    color: #000;
    text-align: center;
    line-height: 14px;
    padding: 0 5px;

    @media (max-width: 360.98px) {
      font-size: 10px;
      line-height: 12px;
    }
  }
}

.poduct-slider {
  margin-bottom: 30px;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__name {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    margin-bottom: 6px;

    @media (max-width: 360.98px) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__price {
    font-size: 15px;
    font-weight: 500;
    color: #323232;

    @media (max-width: 360.98px) {
      font-size: 13px;
    }
  }

}

.catalog {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: calc(~ '50% - 5px');
  }

  &__product-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.card {
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: #fff;

  &__img {
    margin-bottom: 10px;
  }

  &__name {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 10px;
    font-weight: 500;
  }

  .btn {
    margin-bottom: 0;
  }
}

.filter {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.product-detail {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 25px 0 70px 0;
  overflow-y: auto;
  opacity: 0;
  transition: all .3s;

  &.--open {
    opacity: 1;
    top: 0;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__item {
    display: flex;
    align-items: center;

    i {
      color: #363c49;
    }

    .icon-compare {
      font-size: 19px;
    }
  }

  &__compare {
    margin-right: 10px;
  }

  &__img {
    margin-bottom: 25px;
  }

  &__name {
    margin-bottom: 20px;
  }

  &__rating {
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;

    .rating-area {
      direction: rtl;
      display: inline-block;
    }

    .rating-area:not(:checked)>input {
      display: none;
    }

    .rating-area:not(:checked)>label {
      cursor: pointer;
      color: #E4E4E4;
      width: 23px;
      display: inline-flex;
      justify-content: center;
      font-size: 18px;
    }

    .rating-area:not(:checked)>label:before {
      content: '';
      font-family: 'icon';
    }

    .rating-area>input:checked~label {
      color: #FFCD00;
    }

    .rating-area:not(:checked)>label:hover,
    .rating-area:not(:checked)>label:hover~label {
      color: #FFCD00;
    }

    .rating-area>input:checked+label:hover,
    .rating-area>input:checked+label:hover~label,
    .rating-area>input:checked~label:hover,
    .rating-area>input:checked~label:hover~label,
    .rating-area>label:hover~input:checked~label {
      color: #FFCD00;
    }

    .rate-area>label:active {
      position: relative;
    }
  }

  &__reviews-count {
    margin-left: 15px;
  }

  &__interesting-count {
    color: #20BF6B;
    margin-bottom: 10px;
  }

  &__preice {
    font-size: 30px;
    font-weight: 500;
    color: #323232;
    margin-bottom: 25px;
  }

  &__desc {
    margin-bottom: 30px;

    p {
      margin-bottom: 10px;
    }
  }

  &__desc-item-wrap {
    margin-top: 25px;
  }

  &__desc-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #C9CFD9;
      top: calc(~ '100% - 2px');
    }

    span {
      background-color: #fff;
      z-index: 1;

      &:first-child {
        padding-right: 15px;
      }

      &:last-child {
        padding-left: 15px;
        text-align: right;
      }
    }
  }

  &__similar {
    padding-bottom: 15px;
    padding-right: 30px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 20px;

    @media (max-width: 360.98px) {
      font-size: 13px;
    }

    a {
      color: #384351;
      display: block;
      position: relative;

      &:after {
        position: absolute;
        content: '';
        font-family: 'icon';
        font-size: 10px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        right: -20px;
      }
    }
  }
}

.reviews {
  margin-bottom: 20px;

  &__reviewer {
    display: flex;
    margin-bottom: 20px;
  }

  &__reviewer-avatar {
    border-radius: 100%;
    max-width: 60px;
    width: 100%;
    max-height: 60px;
    overflow: hidden;
  }

  &__reviewer-info {
    margin-left: 15px;
  }

  &__reviewer-name {
    font-weight: 500;
    margin-bottom: 3px;
  }

  &__review-date {
    font-size: 14px;
  }

  &__review {
    margin-bottom: 10px;
  }

  &__review-control {
    * {
      color: #bcbfc1;
      display: inline-block;
      font-size: 14px;
    }

    i {
      margin-right: 7px;
    }

    button {
      border: none;
      background-color: transparent;
      outline: none;
      margin-right: 12px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__review-dislike {
    i {
      transform: rotate(180deg);
    }
  }
}


.profile {
  &__top {
    text-align: center;
    margin-bottom: 30px;
  }

  &__avatar {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
  }

  &__avatar-wrap {
    max-width: 94px;
    width: 100%;
    max-height: 94px;
    border-radius: 100%;
    overflow: hidden;
  }

  &__avatar-setting {
    position: absolute;
    width: 25px;
    height: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;

    i {
      font-size: 13px;
      color: #BCBFC1;
    }

    input {
      position: absolute;
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    * {
      font-size: 20px;
      font-weight: 500;
    }

    input {
      outline: none;
      border: none;
      background-color: transparent;
      text-align: center;
      font-weight: 600;
      pointer-events: none;
      height: 24px;


      &.--change {
        pointer-events: inherit;
      }

    }

  }

  &__name-wrap {
    position: relative;

    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: red;
      transition: all .3s;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.--error {
      &:after {
        width: 100%;
      }
    }
  }

  &__name-settings {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    right: 0;

    i {
      color: #C9CFD9;
      font-size: 13px;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    position: relative;


    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      background-color: red;
      transition: all .3s;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    &.--error {
      &:after {
        width: 100%;
      }
    }

    label {
      font-weight: 500;
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #DADADA;
      padding-bottom: 10px;
      background: none;

      &:focus {
        outline: none;
        border-bottom: 1px solid #000;
      }
    }
  }

  .btn {
    margin-top: 30px;
  }

  &__item {
    padding: 15px 5px;
    border-bottom: 1px solid #DADADA;
    display: flex;
    align-items: center;
    color: #363c49;
  }

  &__item-icon {
    width: 20px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

    i {
      &:before {
        width: 20px;
      }
    }
  }
}

.comparison {
  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__delete {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 6px;
      color: #323232;
    }
  }

  &__characteristics {
    border-bottom: 1px solid #DADADA;
    position: relative;
    padding: 10px;
    margin-bottom: 20px;

    &.--open {
      .comparison__characteristics-dropdown {
        display: block;
      }
    }
  }

  &__characteristics-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 0;
    border-radius: 0;
    display: none;
  }

  &__characteristics-selected {
    padding-top: 0;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      font-family: 'icon';
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      font-size: 10px;
    }

    i {
      position: absolute;
      margin-left: 10px;
      font-size: 9px;
      top: 5px;
      transition: all .3s;

      &:before {
        width: 10px;
        height: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__characteristics-option {
    padding: 5px 10px;

    &:nth-child(2n) {
      background-color: #efefef3d;
    }
  }

  &__section {
    margin-bottom: 20px;

    &--color {
      padding-bottom: 20px;
      border-bottom: 1px solid #DADADA;
    }
  }

  &__section-title {
    line-height: 19px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
  }

  &__col-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__section-col {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__img {
    max-width: 112px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    font-size: 14px;
    color: #323232;
    line-height: 16.41px;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-star {

    span,
    i {
      color: #E4E4E4;
    }
  }

  &__rating-count {
    margin-left: 5px;
  }

  &__val {
    line-height: 19px;
    text-align: center;
  }

  &__color {
    ul {
      display: flex;

      li {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        overflow: hidden;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }

        &.comparison__light-color {
          border: 1px solid #C9CFD9;
        }
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  background-size: cover;
  background-position: center center;
  margin-bottom: 8px;

  @media (max-width: 430.98px) {
    min-height: 85px;
  }

  @media (max-width: 360.98px) {
    min-height: 75px;
  }


  &__title {
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    letter-spacing: 0.04em;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
  }

  &__subtitle {
    color: #fff;
    font-size: 12px;
    line-height: 14px;
  }

  &--align-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;

    &:befere {
      position: absolute;
      content: '';
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
      width: 100%;
      height: 100%;
    }

    .banner__title {
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
    }
  }
}

.double-slider-js {
  padding: 1px !important;
}

.additional-desc {
  font-size: 14px;
  line-height: 16.41px;
  color: #131921;
  margin-top: 17px;

  &__title {
    font-weight: 500;
    margin-bottom: 15px;
  }

  &__desc {
    height: 150px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s;
    font-weight: 400;

    &:after {
      position: absolute;
      content: '';
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
      left: 0;
      right: 0;
      bottom: 0;
      height: 100%;
      transition: all .3s;
    }

    &.--open {
      overflow: visible;
      height: auto;

      &:after {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__more,
  &__hide {
    font-weight: 500;
    cursor: pointer;
  }

  &__hide {
    display: none;
  }
}

.social {
  ul {
    display: flex;
    align-items: center;

    li {
      margin-right: 37px;
      margin-bottom: 0;

      @media (max-width: 450.98px) {
        margin-right: 30px;
      }

      @media (max-width: 400.98px) {
        margin-right: 25px;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 450.98px) {
          width: 35px;
          height: 35px;
        }

        @media (max-width: 360.98px) {
          width: 30px;
          height: 30px;
        }

        i {
          font-size: 14px;
        }
      }
    }
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  padding: 0 10px;
  position: relative;
  margin-bottom: 13px;

  .swiper {
    overflow: visible;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide-prev {
      .slider__item {
        margin-right: -10%;
      }
    }

    .swiper-slide-active {
      .slider__item {
        transform: scale(1);
      }
    }

    .swiper-slide-next {
      .slider__item {
        margin-left: -10%;
      }
    }
  }

  &__item {
    border-radius: 5px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
    transition: all .3s;
  }
}

.category-trigger {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 13px 15px;
  position: relative;

  span {
    margin-left: 15px;
  }

  .icon-angle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    color: #c9cfd9;
    font-size: 10px;

    &:before {
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}