doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title comparison
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="icon/fontello/css/icon.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
  body
    .panel-control
      mixin controler(alert, icon, title, active)
        if alert == 'alert'
          a(href="#" class=active).panel-control__item
            .panel-control__icon
              .panel-control__alert new
              i(class=`icon-`+icon)
            .panel-control__title=title
        else  
          a(href="#" class=active).panel-control__item 
            .panel-control__icon
              i(class=`icon-`+icon)
            .panel-control__title=title  
      +controler('', 'home', 'Главная', 'active')
      +controler('', 'catalog', 'Каталог')
      +controler('alert', 'products', 'Продукты')
      +controler('', 'basket', 'Корзина')
      +controler('', 'profile', 'Профиль')

    .menu
      .menu__close 
        i.icon-close
      .menu__item-block 
        .title Моя учетная запись
        ul
          mixin item(name)
            li 
              a(href="#")=name
          +item('Заказы')     
          +item('Учетная запись')
          +item('О нас')
          +item('Обратная связь')
          +item('Подарочные сертификаты')
          +item('Торговые марки')
          +item('Карта сайта')
          +item('Блог')
      .menu__item-block 
        .title Покупательский сервис
        ul
          +item('Ваши заказы')     
          +item('Отложенные')     
          +item('Список сравнения')     
      .menu__item-block 
        .title Контакты
        ul
          li г. Бишкек, ул. Уметалиева 127
          +item('+996(550) 050-060 (звонок бесплатный)')     
          +item('+996(701) 050-060')     
          +item('+996(778) 050-060')     
          li Пн-Вс 9.00 - 18.00
          +item('info@azor.kg')     
          +item('Посмотреть на карте')  
      .menu__item-block.menu__item-block--social 
        .title Присоединяйтесь
        .social 
          ul 
            mixin social(icon) 
              li 
                a(href="#")
                  img(src=`icon/`+icon+`.svg`, alt="")
            +social('tg')       
            +social('wa')       
            +social('in')       
            +social('fb')       
            +social('yt')       
      .menu__item-block 
        .title Оставайтесь на связи
        p Подпишитесь на нашу рассылку и получите купон на 10% скидку!
          form(action="")
            .subscribe
              input(type="text" placeholder="email")
              button.btn.btn--orange подписаться 
   
    header.header 
      .header__top
        .container.header__top-wrap 
          .header__col
            .hamburger 
            a(href="#").logo
              img(src="img/logo.svg", alt="")
          .header__col
            .header__control 
              a(href="#")
                i.icon-compare 
              a(href="#")
                i.icon-favorite 
      .header__middle
        .container
          form(action="") 
            .search
              .search__input 
                input(type="text" placeholder="Поиск товаров")
                button(type="submit")
                  i.icon-search

      .header__bottom
        .container
          .header__nav
            mixin nav(name) 
              a(href="#")=name
            +nav('Azor Travel')
            +nav('Промо-акции')
            +nav('Бренды')
            +nav('Новинки')
            +nav('Хиты продаж')
            +nav('Товары со скидкой')     

    .bottom-indent
      .container
        .comparison
          .comparison__control 
            .comparison__category Категория
            .comparison__delete
              i.icon-close
              span.t15 Удалить всё (2)
          .comparison__characteristics.characteristics-js
            input(type="hidden" value="Все характеристики")
            .comparison__characteristics-selected Все характеристики
            .comparison__characteristics-dropdown.bx-sh
              .comparison__characteristics-option(data-val="Все характеристики") Все характеристики
              .comparison__characteristics-option(data-val="Все характеристики1") Все характеристики1
              .comparison__characteristics-option(data-val="Все характеристики2") Все характеристики2
              .comparison__characteristics-option(data-val="Все характеристики3") Все характеристики3
          .comparison__section
            .comparison__col-wrap
              .comparison__section-col
                .comparison__img
                  img(src="img/basket-product.svg", alt="")
                .comparison__name iPhone 13 Pro Max, <br> 1 TБ, Графитовый
              .comparison__section-col
                .comparison__img
                  img(src="img/basket-product.svg", alt="")
                .comparison__name iPhone 13 Pro Max, <br> 1 TБ, Графитовый

          
          .comparison__section
            .comparison__section-title Отзывы
            .comparison__col-wrap
              .comparison__section-col
                .comparison__rating
                  .comparison__rating-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                  .comparison__rating-count 4.3
              .comparison__section-col
                .comparison__rating
                  .comparison__rating-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                    span
                      i.icon-star
                  .comparison__rating-count 4.3
          .comparison__section
            .comparison__section-title Цена
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val от 99 990 с   
              .comparison__section-col
                .comparison__val от 99 990 с
          .comparison__section.comparison__section--color
            .comparison__section-title Цвет
            .comparison__col-wrap
              .comparison__section-col
                .comparison__color
                  ul 
                    li(style="background:#000")   
                    li(style="background:#F20000")   
                    li.comparison__light-color(style="background:#fff")   
                    li(style="background:#EAACA8")   
              .comparison__section-col
                .comparison__color
                  ul 
                    li(style="background:#000")   
                    li(style="background:#006CB3")   
                    li.comparison__light-color(style="background:#fff")   
                    li(style="background:#FFCD00")   
          .comparison__section
            .comparison__section-title Линейка
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Iphone 13 
              .comparison__section-col
                .comparison__val Iphone 13
          .comparison__section
            .comparison__section-title Материал корпуса
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Алюминий и стекло
              .comparison__section-col
                .comparison__val Сталь
          .comparison__section
            .comparison__section-title Качество
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Качество
              .comparison__section-col
                .comparison__val Качество
          .comparison__section
            .comparison__section-title Качество
            .comparison__col-wrap
              .comparison__section-col
                .comparison__val Качество
              .comparison__section-col
                .comparison__val Качество




    script(src="https://code.jquery.com/jquery-3.6.0.min.js") 
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js") 
    script(src="scripts.js") 
