
.icon-compare:before { content: '\e800'; } /* '' */
.icon-favorite:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-gear:before { content: '\e803'; } /* '' */
.icon-hamburger:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-like:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-pay1:before { content: '\e808'; } /* '' */
.icon-pay2:before { content: '\e809'; } /* '' */
.icon-pay3:before { content: '\e80a'; } /* '' */
.icon-pay4:before { content: '\e80b'; } /* '' */
.icon-products:before { content: '\e80c'; } /* '' */
.icon-profile:before { content: '\e80d'; } /* '' */
.icon-profile-img:before { content: '\e80e'; } /* '' */
.icon-profile-name:before { content: '\e80f'; } /* '' */
.icon-qu:before { content: '\e810'; } /* '' */
.icon-reply:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-angle:before { content: '\e814'; } /* '' */
.icon-angles:before { content: '\e815'; } /* '' */
.icon-basket:before { content: '\e816'; } /* '' */
.icon-catalog:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-close:before { content: '\e819'; } /* '' */
