@font-face {
  font-family: 'icon';
  src: url('../font/icon.eot?29658893');
  src: url('../font/icon.eot?29658893#iefix') format('embedded-opentype'),
       url('../font/icon.woff2?29658893') format('woff2'),
       url('../font/icon.woff?29658893') format('woff'),
       url('../font/icon.ttf?29658893') format('truetype'),
       url('../font/icon.svg?29658893#icon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon';
    src: url('../font/icon.svg?29658893#icon') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-compare:before { content: '\e800'; } /* '' */
.icon-favorite:before { content: '\e801'; } /* '' */
.icon-filter:before { content: '\e802'; } /* '' */
.icon-gear:before { content: '\e803'; } /* '' */
.icon-hamburger:before { content: '\e804'; } /* '' */
.icon-home:before { content: '\e805'; } /* '' */
.icon-like:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-pay1:before { content: '\e808'; } /* '' */
.icon-pay2:before { content: '\e809'; } /* '' */
.icon-pay3:before { content: '\e80a'; } /* '' */
.icon-pay4:before { content: '\e80b'; } /* '' */
.icon-products:before { content: '\e80c'; } /* '' */
.icon-profile:before { content: '\e80d'; } /* '' */
.icon-profile-img:before { content: '\e80e'; } /* '' */
.icon-profile-name:before { content: '\e80f'; } /* '' */
.icon-qu:before { content: '\e810'; } /* '' */
.icon-reply:before { content: '\e811'; } /* '' */
.icon-search:before { content: '\e812'; } /* '' */
.icon-star:before { content: '\e813'; } /* '' */
.icon-angle:before { content: '\e814'; } /* '' */
.icon-angles:before { content: '\e815'; } /* '' */
.icon-basket:before { content: '\e816'; } /* '' */
.icon-catalog:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-close:before { content: '\e819'; } /* '' */
